@font-face{
  font-family: 'RobotoMono';
  src: url('./font/Roboto-Thin.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: linear-gradient(to right, rgb(85, 105, 118), rgb(41, 46, 73));
}

*{
  font-family: 'RobotoMono', monospace;
}