body {
    /* background-color: blue; */
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn {
    margin-left: 0.2rem;
}

.table-actions {
    width: 10rem;
}
.fa {
    margin-right: 0.2rem;
}
